
.drum-set {
	position: absolute;
	top: 25%;
	padding: 1.5rem;
}

.drums { /*Drum row*/
	display: flex;
	
}

.drum { /* Drum instrument */
	margin: 0.45rem;
	
}
.drum:active,
.drum.playing {
transform: scale(1.9);
}

#drum-instrument-key {
  cursor: pointer;
  width: 7.0rem;
  height: 7.0rem;
  border-radius: 20%;
  border: .2rem solid  rgba(59, 54, 61, 0.7);
  box-shadow:  2px 6px 10px rgb(0 0 0 / 0.5);
  background-image: url("./buttonbg.png");
  opacity: .88;
}

#drum-instrument-key:hover {
	background: rgb(136, 211, 255)

  }
.key-kbd{
	font-size: 1.3rem;	
}

kbd {
	color: rgb(248, 53, 53);
	color: rgb(106, 199, 191);
	position: absolute;
	bottom: 20%;
  }
  

